body{
    background: linear-gradient(to top, #d7e7f0, #d5d3f8);
    
}

h2{
    text-align : center;
    font-size: 60px;
    
    vertical-align: middle;
    color: white;
}

.button {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
  }