h1 {
    text-align : center;
    font-size: 60px;
    
    vertical-align: middle;
    color: white;

  
}

body{
    background: #7245ee;
    background-size: 100%;
    color: white;
}

.image{
    opacity: 0.4;
}

.center{
    text-align: center;
}

.box{
    padding: 25px;
     width: 400px;
     position: absolute;
     top: 55%;
     left: 50%;
     transform: translate(-50%,-50%);
     background: #bbf7f7;
     border-radius: 20px;
     text-align: center;
}
 
.box h2{
     color: #098a34;
     font-weight: 500;
}
 
.box input[type="text"], .box input[type="password"]{
     border: 0;
     background: none;
     display: block;
     margin: 20px auto;
     text-align: center;
     border: 4px solid #5bc9eb;
     padding: 14px 10px;
     width: 330px;
     outline: none;
     color: black;
     border-radius: 30px;
     transition: 0.25s;
}
 
.box input[type="text"]:focus, .box input[type="password"]:focus{
     width: 350px;
     border-color: #8d1683;
}
 
.box input[type="submit"]{
     border: 0;
     background: none;
     display: block;
     margin: 20px auto;
     text-align: center;
     border: 4px solid #5bc9eb;
     padding: 14px 10px;
     width: 290px;
     outline: none;
     color: #098a34;
     border-radius: 30px;
     transition: 0.25s;
     cursor: pointer;
}
 
.box input[type="submit"]:hover{
     background: #077c16;
     color: white;
}

.submit {
    border: 1px solid #333; 
    display: inline-block;
    padding: 5px 15px; 
    text-decoration: none;
    color: #000; 
  }
 .submit:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.3); 
    background: linear-gradient(to bottom, #15aa22, #16b607); 
    color: rgb(20, 18, 18);
   }

/* .submit {
    border: 1px solid #333; 
    display: inline-block;
    padding: 2px; 
    text-decoration: none;
    color: #000; 
    background-color: #dbf0cc;
    background: -webkit-gradient(linear, left top, left bottom, from(#70d324), to(#70d324));
    border: 2px solid #509111;
    border-bottom: 2px solid #5b992b;
    border-radius: 4px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #9fd574;
    -webkit-box-shadow: 0 1px 0 0 #9fd574 inset ;
    -moz-box-shadow: 0 1px 0 0 #9fd574 inset;
    -ms-box-shadow: 0 1px 0 0 #9fd574 inset;
    -o-box-shadow: 0 1px 0 0 #9fd574 inset;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding:   5px 5px;
    text-align: center;
    text-shadow: 0 -1px 0 #396715;
  }
.submit:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.3); 
    background: linear-gradient(to bottom, #94faa5, #7ef766); 
    color: rgb(2, 19, 61);
}  */

.reg{
    padding: 5px;
     width: 450px;
     position: absolute;
     top: 85%;
     left: 82%;
     transform: translate(-50%,-50%);   
     border-radius: 20px;
     text-align: center;
}

.reg h2{
    color:white;
    font-weight: 300;
}




